nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  width: 100%;
  background-color: var(--principalColor);
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.img-nav {
  width: 60px;
  height: 60px;
}
