@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --principalColor: #ffadad;
  --gray: #e8e8e8;
  --darkGray: #ccd2da;
  --twitterBlue: #1a91da;
}

* {
  padding: 0;
  margin: 0;
}

body,
html {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
}

p{
  margin: 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.j-cont-bet {
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
